header {
    background-color: #004;
    padding: 20px, 0;
}

header div.caixa h1 img,
main ul img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

body {
    color: #FFF;
}

.caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #FF0;
    text-decoration: underline;
}

.produtosyipe {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtosyipe li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.25%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFF;
    border-radius: 25px;
}

.produtosyipe li h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtosyipedesc{
    font-size: 18px;
    padding-bottom: 10px;
}

.produtosyipepreco {
    font-size: 22px;
    font-weight: bold;
}